<h3>Listing Details:</h3>

<p>
Listing ID: <%= @listing.id %> <br />
Listing Address: <%= @listing.address %> <br />
Price per Night: <%= @listing.price %>
</p>

<h5>About Listing:</h5>
<%= @listing.content %> <br />

<!-- Only shows this if current user matches user show page id -->
<% if current_user.id == @listing.user_id %>
<%= link_to "Edit listing", edit_listing_path %>
<%= link_to "Delete listing", listing_path(@listing.id), method: :delete, data: { confirm: "Are you sure to delete this listing?" } %>
<% end %>