<h3>Listing Details:</h3>

<p>
Listing ID: <%= @listing.id %> <br />
Listing Address: <%= @listing.address %> <br />
Price per Night: <%= @listing.price %>
</p>

<h4>Host:</h4>
<%= link_to user_path(@listing.user_id) do %>
  <%= @listing.user.email %>
<% end %>

<h4>About Listing:</h4>
<%= @listing.content %> <br />
  <% image_num = 0 %>
      <% while image_num <= @listing.tours.length - 1 %>      
        <img src="<%= @listing.tours[image_num].thumb %>">
        <% image_num += 1 %>
      <% end %>


<!-- If the logged in user is not the one who created the listing, they can only make reservations and alter their own reservations. If the logged in user is the one who created the listing, they can view the email of the user who made the reservation and also delete the reservation that was made by all users. -->

<% if signed_in? %>
  <% if current_user.id == @listing.user_id %>
	  <%= link_to "Edit listing", edit_listing_path %>
	  <%= link_to "Delete listing", listing_path(@listing.id), method: :delete, data: { confirm: "Are you sure to delete this listing?" } %>

	  <% Reservation.all.each do |r| %>
	    <% if r.listing_id == @listing.id   %>
	      <ul>
	  	    <li>Check in: <%= r.check_in %> </li>
	  	    <li>Check out: <%= r.check_out %> </li>
	  	    <li>User Email: <%= link_to user_path(r.user_id) do %>
  			  <%= r.user.email %> <% end %> </li>
	  	  </ul>
	      <%= link_to "Delete Reservation", listing_reservation_path(r.listing_id, r.id), method: :delete, data: { confirm: "Are you sure to delete this reservation?" } %>
	    <% end %>
	  <% end %>
	    
  <% else %>
    <%= link_to "Make a reservation", new_listing_reservation_path(@listing.id) %>

    <h4> Current Reservations Made: </h4>

    <% Reservation.all.each do |r| %>

	  <% if @listing.id == r.listing_id %>
	    <ul>
	    <li>Check in: <%= r.check_in %> </li>
	    <li>Check out: <%= r.check_out %> </li>
	    </ul>

	      <% if current_user.id == r.user_id %>
	        <%= link_to "Edit Reservation", edit_listing_reservation_path(r.listing_id, r.id) %>
	        <%= link_to "Delete Reservation", listing_reservation_path(r.listing_id, r.id), method: :delete, data: { confirm: "Are you sure to delete this reservation?" } %>
	      <% end %>

	  <% end %>
    <% end %>

  <% end %>
<% end %>

<!-- To Do: List the user's reservations out in front for better control of own reservations. -->